{{>header}}
<main>
    <!-- START: template component(s) -->
    <div class="container" id="section-1">
        <div class="row">
            <div class="col-12">
                <h1>Aanvraag evenementenvergunning</h1>
                <p class="lead">Uw aanvraag met kenmerk <strong>APV10.1324</strong> is door ons ontvangen op <strong>2 april 2022</strong>. De status is <strong>in behandeling</strong>.</p>
                <!-- <div class="meta-blocks">
                    <div class="meta-blocks--container">
                        <div class="meta-blocks--content row">
                            <div class="col-xs-12 col-md-4 meta-blocks--col">
                                <h2 class="meta-blocks--content-heading">Aanvraag ingediend</h2>
                                <p>2 april 2022</p>
                            </div>
                            <div class="col-xs-12 col-md-4 meta-blocks--col">
                                <h2 class="meta-blocks--content-heading">Status</h2>
                                <p>In behandeling</p>
                            </div>
                            <div class="col-xs-12 col-md-4 meta-blocks--col">
                                <h2 class="meta-blocks--content-heading">Verwachtte einddatum</h2>
                                <p>24 april 2022</p>
                            </div>
                        </div>
                    </div>
                </div> -->
                <h2>Het verloop van uw aanvraag</h2>
                <ol class="steps">
                    <li><h3><span class="circle">1</span> Ontvangen</h3>
                        <p>Uw aanvraag is ontvangen op 2 april 2022.</p>
                    </li>
                    <li class="active"><h3><span class="circle">2</span> In behandeling</h3>
                        <p>Uw aanvraag is in behandeling sinds 9 april 2022.</p>
                    </li>
                    <li><h3><span class="circle">3</span> Afgerond</h3>
                        <p>We verwachten uw aanvraag af te ronden op 24 april 2022.</p>
                    </li>

                </ol>
            </div>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>
{{>footer}}