{{>header}}

<main id="denhaag-theme">
    <!-- START: template component(s) -->
    <div class="container denhaag-theme">
        <div class="row">
        <nav class="nijmegen-sidenav col-lg-3 col-md-12">
                <ul class="nijmegen-sidenav__list">
                {{#nav}}
                    <li class="nijmegen-sidenav__item {{#current}}active{{/current}}">
                        {{{icon}}}
                        <a href="{{{url}}}">{{title}}</a>
                    </li>
                {{/nav}}
                </ul>
        </nav>
        <div class="col-lg-9 col-md-12">
            {{#zaak}}
                <h1>{{zaak_type}}</h1>
                <p class="lead">Uw aanvraag is op dit moment in de fase: <strong>{{status}}</strong>. {{#verwachtte_einddatum}}Verwachtte einddatum: <strong>{{verwachtte_einddatum}}</strong>.{{/verwachtte_einddatum}}</p>
                {{#taken}}
                <div class="denhaag-action">
                    <div class="denhaag-action__content">
                        {{title}}
                    </div>
                    <div class="denhaag-action__details">

                    {{#is_open}}
                        <div class="denhaag-action__date">
                        <span>
                            voor {{einddatum}}
                        </span>
                        </div>
                        <div class="denhaag-action__actions">
                        <a
                            class="btn btn-primary"
                            href="{{url}}"
                        >
                            Toevoegen
                        </a>
                        </div>
                    {{/is_open}}
                    {{#is_ingediend}}
                    <div class="denhaag-action__date">
                        </div>
                        <div class="denhaag-action__actions">
                        Ingediend ✅
                        </div>
                    {{/is_ingediend}}
                    {{#is_gesloten}}
                    <div class="denhaag-action__date">
                        </div>
                        <div class="denhaag-action__actions">
                        Gesloten ✅
                        </div>
                    {{/is_gesloten}}
                    </div>
                </div>
                {{/taken}}
                {{#has_statuses}}
                <h2>Huidige status</h2>
                <ol class="denhaag-process-steps">
                {{#status_list}}
                    <li class="denhaag-process-steps__step denhaag-process-steps__step--{{#current}}current{{/current}}{{^current}}{{#completed}}checked{{/completed}}{{^completed}}not-checked{{/completed}}{{/current}}">  
                        <div class="denhaag-process-steps__step-header">
                        <div class="denhaag-step-marker denhaag-step-marker--{{#current}}current{{/current}}{{^current}}{{#completed}}checked{{/completed}}{{^completed}}not-checked{{/completed}}{{/current}}">
                        {{#completed}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="denhaag-icon"
                            focusable="false" aria-hidden="true" shape-rendering="auto">
                            <path
                                d="M20.664 5.253a1 1 0 01.083 1.411l-10.666 12a1 1 0 01-1.495 0l-5.333-6a1 1 0 011.494-1.328l4.586 5.159 9.92-11.16a1 1 0 011.411-.082z"
                                stroke="currentColor" stroke-width="1.75"></path>
                            </svg>
                        {{/completed}}
                        {{^completed}}
                            {{volgnummer}}
                        {{/completed}}
                        </div>
                        <p class="denhaag-process-steps__step-heading denhaag-process-steps__step-heading--{{#current}}current{{/current}}{{^current}}{{#completed}}checked{{/completed}}{{^completed}}not-checked{{/completed}}{{/current}}">
                            {{name}}
                        </p>
                        </div>
                        <div class="denhaag-process-steps__step-body">
                        {{#is_eind}}<div>Verwacht klaar op {{verwachtte_einddatum}}</div>{{/is_eind}}
                        {{^is_eind}}
                            <div class="denhaag-step-marker__connector denhaag-step-marker__connector--{{#current}}current{{/current}}{{^current}}{{#completed}}checked{{/completed}}{{^completed}}not-checked{{/completed}}{{/current}} denhaag-step-marker__connector--main-to-main">{{/is_eind}}
                        </div>
                    </li>
                {{/status_list}}
                </ol>
                {{/has_statuses}}
            <h2>Details</h2>
            <p><strong>Datum aanvraag</strong>: {{registratiedatum}}</p>
            <p><strong>Zaaknummer</strong>: {{id}}</p>
            {{#has_documenten}}
                <h2>Documenten</h2>
                <ul>
                {{#documenten}}
                        <li><a href="{{url}}">{{titel}}</a></li>
                {{/documenten}}
                </ul>
                {{^documenten}}
                <p>Er zijn geen documenten bij deze zaak te tonen.</p>
                {{/documenten}}
            {{/has_documenten}}
            {{/zaak}}
            {{^zaak}}
                <h1>Geen zaak gevonden</h1>
                <p>We konden geen zaak vinden met dit kenmerk.</p>
            {{/zaak}}
            </div>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>
{{>footer}}
