{{>header}}

<main>
    <!-- START: template component(s) -->
    <div class="container" id="section-1">
        <div class="row">
            <div class="col-12">
            {{#zaak}}
                <h1>{{zaak_type}}</h1>
                <p class="lead">Uw aanvraag met kenmerk <strong>{{id}}</strong> is door ons ontvangen op <strong>{{registratiedatum}}</strong>. De status is <strong>{{status}}</strong>.</p>
                <div class="meta-blocks">
                    <div class="meta-blocks--container">
                        <div class="meta-blocks--content row">
                            <div class="col-xs-12 col-md-4 meta-blocks--col">
                                <h3 class="meta-blocks--content-heading">Aanvraag ontvangen</h3>
                                <p>{{registratiedatum}}</p>
                            </div>
                            <div class="col-xs-12 col-md-4 meta-blocks--col">
                                <h3 class="meta-blocks--content-heading">Status</h3>
                                <p>{{status}}</p>
                            </div>
                            <div class="col-xs-12 col-md-4 meta-blocks--col">
                            {{#einddatum}}
                                <h3 class="meta-blocks--content-heading">Einddatum</h3>
                                <p>{{einddatum}}</p>
                            {{/einddatum}}
                            {{^einddatum}}
                                <h3 class="meta-blocks--content-heading">Verwachtte einddatum</h3>
                                <p>{{verwachtte_einddatum}}</p>
                            {{/einddatum}}
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Het verloop van uw aanvraag</h2>
                <ol class="denhaag-process-steps">
                {{#status_list}}
                    <li class="denhaag-process-steps__step denhaag-process-steps__step--{{#current}}current{{/current}}">  
                        <div class="denhaag-process-steps__step-header">
                        <div class="denhaag-step-marker denhaag-step-marker--{{#current}}current{{/current}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="denhaag-icon"
                            focusable="false" aria-hidden="true" shape-rendering="auto">
                            <path
                                d="M20.664 5.253a1 1 0 01.083 1.411l-10.666 12a1 1 0 01-1.495 0l-5.333-6a1 1 0 011.494-1.328l4.586 5.159 9.92-11.16a1 1 0 011.411-.082z"
                                stroke="currentColor" stroke-width="1.75"></path>
                            </svg>
                        </div>
                        <p class="denhaag-process-steps__step-heading denhaag-process-steps__step-heading--{{#current}}current{{/current}}">
                            {{name}}
                        </p>
                        </div>
                        <div class="denhaag-process-steps__step-body">
                        <div
                            class="denhaag-step-marker__connector denhaag-step-marker__connector--{{#current}}checked{{/current}} denhaag-step-marker__connector--main-to-main">
                        </div>
                        </div>
                    </li>
                {{/status_list}}
                </ol>
            {{/zaak}}
            {{^zaak}}
                <h1>Geen zaak gevonden</h1>
                <p>We konden geen zaak vinden met dit kenmerk.</p>
            {{/zaak}}
            </div>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>
{{>footer}}
