{{>header}}

<main>
    <!-- START: template component(s) -->
    <div class="container" id="section-1">
        <div class="row">
            <div class="col-12">
            {{#zaak}}
                <h1>Klacht</h1>
                <p class="lead">Uw aanvraag met kenmerk <strong>{{id}}</strong> is door ons ontvangen op <strong>{{registratiedatum}}</strong>. De status is <strong>{{status}}</strong>.</p>
                <div class="meta-blocks">
                    <div class="meta-blocks--container">
                        <div class="meta-blocks--content row">
                            <div class="col-xs-12 col-md-4 meta-blocks--col">
                                <h3 class="meta-blocks--content-heading">Aanvraag ontvangen</h3>
                                <p>{{registratiedatum}}</p>
                            </div>
                            <div class="col-xs-12 col-md-4 meta-blocks--col">
                                <h3 class="meta-blocks--content-heading">Status</h3>
                                <p>{{status}}</p>
                            </div>
                            <div class="col-xs-12 col-md-4 meta-blocks--col">
                                <h3 class="meta-blocks--content-heading">Verwachtte einddatum</h3>
                                <p>??</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Het verloop van uw aanvraag</h2>
                <ol class="steps">
                    <li class="active"><h3><span class="circle">1</span> Ontvangen</h3>
                        <p>Uw aanvraag is ontvangen op 2 april 2022.</p>
                    </li>
                    <li><span class="circle">2</span> In behandeling</li>
                    <li><span class="circle">3</span> Afgerond</li>

                </ol>
            {{/zaak}}
            {{^zaak}}
                <h1>Geen zaak gevonden</h1>
                <p>We konden geen zaak vinden met dit kenmerk.</p>
            {{/zaak}}
            </div>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>
{{>footer}}
