{{>header}}

<main>
    <!-- START: template component(s) -->
    <div class="container" id="section-1">
        <div class="row">
            <div class="col-12">
                <h1>Mijn gegevens</h1>
                <p class="lead">Hier vindt u een overzicht van uw zaken.</p>
                <div class="tabs-wrapper">

                    <!-- Tab List -->
                    <div class="nav classic-tabs-no-line" role="tablist">
                        <div class="nav-item">
                            <button class="nav-link active" role="tab" aria-selected="true" aria-controls="example-1-tab" id="example-1">
                                Lopende zaken
                            </button>
                        </div>
                        <div class="nav-item">
                            <button class="nav-link" role="tab" aria-selected="false" aria-controls="example-2-tab" id="example-2" tabindex="-1">
                                Afgeronde zaken
                            </button>
                        </div>
                    </div>
                
                    <!-- Tab Content -->
                    <div class="tab-content" tabindex="0" role="tabpanel" id="example-1-tab" aria-labelledby="example-1">
                        <div class="cards">
                        {{#zaken.open}}
                            <div class="card card-services">
                                <div class="card-body">
                                    <h3 class="card-title">{{zaak_type}}</h3>
                                    <p class="card-text">Zaaknummer: <strong>{{id}}</strong><br />
                                    Status: <strong>{{status}}</strong></p>
                                    <p>Geregistreerd op {{registratiedatum}}</p>
                                    <p class="card-read-more text-right mb-0 text-uppercase">
                                        <a href="/zaken/{{uuid}}">Open zaak</a>
                                    </p>
                                </div>
                            </div>
                        {{/zaken.open}}
                        </div>
                    </div>
                    <div class="tab-content" tabindex="0" role="tabpanel" id="example-2-tab" aria-labelledby="example-2" hidden="">
                        <div class="cards">
                        {{#zaken.closed}}
                            <div class="card card-services">
                                <div class="card-body">
                                    <h3 class="card-title">{{zaak_type}}</h3>
                                    <p class="card-text">Zaaknummer: <strong>{{id}}</strong><br />
                                    Status: <strong>{{status}}</strong></p>
                                    <p>Geregistreerd op {{registratiedatum}}</p>
                                    <p class="card-read-more text-right mb-0 text-uppercase">
                                        <a href="/zaken/{{uuid}}">Open zaak</a>
                                    </p>
                                </div>
                            </div>
                        {{/zaken.closed}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>

{{>footer}}
